body {
    background-color: #0a0a23;
  }
  
  #text {
    background-color: #141473;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #6a15a3;
    background-color: #32cefe;
    background-image: linear-gradient(#4ceffe, #33a3ff);
    border: 3px solid #3280fe;
  }

  button:hover {
    color: #ffffff;
    background-color: palevioletred;
    background-image: linear-gradient(#ae1ea4, #b211c7);
  }